:root {
  --text-color-white: #ffffff;
  --text-color-blue: #2196f3;
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --bg-color-blue: #2196f3;
  --font-weight-700: 700;
  --font-weight-500: 500;
}
* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color-black);
  letter-spacing: 0.03em;
}
.logo {
  font-family: "Raleway";
  font-weight: var(--font-weight-700);
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-color-blue);
}
.navigation_logo {
  color: #000000;
}
.navigation-secondary {
  font-weight: var(--font-weight-500);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
}
.navigation-secondary:hover,
.address:hover {
  color: var(--text-color-blue);
}
.navigation-secondary:focus,
.address:focus {
  color: var(--text-color-blue);
}
.nav-sec_color {
  color: var(--text-color-grey);
}
.main-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  background-color: #2f303a;
}
.pointer {
  font-weight: var(--font-weight-700);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  background: var(--bg-color-blue);
}
.section_lorem {
  font-weight: var(--font-weight-700);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.sectiom_lorem_p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-grey);
}
.section_work,
.team {
  font-weight: var(--font-weight-700);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.our_team {
  background: #f5f4fa;
}
.name {
  font-weight: var(--font-weight-500);
}
.name,
.position {
  line-height: 1.19;
  color: var(--text-color-grey);
  background: #ffffff;
}
.foot {
  background: #2f303a;
}
.foot_logo {
  color: var(--text-color-white);
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color-white);
}
.address_color {
  color: rgba(255, 255, 255, 0.6);
}
.projects {
  font-weight: var(--font-weight-700);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects_name {
  line-height: 1.88;
  color: var(--text-color-grey);
}
.all {
  font-weight: var(--font-weight-500);
  line-height: 1.62;
  text-align: center;
  background: #f5f4fa;
  color: var(--text-color-black);
}
.all:focus {
  color: var(--text-color-white);
  background: var(--bg-color-blue);
}
