* {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}
:root {
  --text-color: #ffffff;
  --bg-color-blue: #2196f3;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.navigation_logo {
  color: #000000;
}
.navigation-secondary {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.nav-sec_p,
.nav-sec_k {
  color: #212121;
}
.nav-sec_t:focus,
.nav-sec_m:focus,
.a_color:focus {
  color: #f35221;
}
.nav-sec_t {
  color: #757575;
}
.main_bg {
  background-color: #2f303a;
}
.main-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
}
.pointer {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  background: var(--bg-color-blue);
}
.section_lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.sectiom_lorem_p {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.section_work,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.our_team {
  background: #f5f4fa;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}
.foot {
  background: #2f303a;
}
.foot_logo {
  color: var(--text-color);
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color);
}
.a_color {
  color: rgba(255, 255, 255, 0.6);
}
.projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects_name {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.all,
.single {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.all {
  color: var(--text-color);
  background: var(--bg-color-blue);
}
.single {
  background: #f5f4fa;
  color: #212121;
}
